.topnav {
    background-color: #2a3342;
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
    
  }
.Top{
    background-color: #2a3342;
    position: relative;
    padding: 100px;
}
p{
    color: cornsilk;
}
body{
    text-align: center;
    margin: 0;
    font-family: 'Merriweather', serif;
    color: #40514e;
    background-color: #212b3b;
}
.coder{
    max-width: 25%;
    height: auto;
}
.bottom-cloud{
    position: absolute;
    bottom: 400px;
    left: 180px;
    max-width: 7%;
    height: auto;
}
.Top-cloud{
    position: absolute;
    right: 200px;
    top: 15px;
    max-width: 7%;
    height: auto;
}
h1{
    color: #66BFBF;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
}
h2{
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    padding-bottom: 10px;
}
h3{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}
.sujal-images{
    width: 15%;
}
.skill{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}
p{
    line-height: 2;
}
.pallete{
    float: left;
    margin-right: 30px;
}
.idea{
    float: right;
    margin-left: 30px;
}
.middle-container{
    margin: 90px 0;
}
.uno-img{
    float: left;
    margin-right: 30px;
    width: 150px;
}
.project{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    border:dashed;
    border-color: azure;
    padding: 5%;
}
.iot-img{
    float: right;
    margin-left: 30px;
    width: 150px;
}
.pro-link{
    color: #eaf6f6;
}
hr{
    border: dotted #c3fdfd 6px;
    border-bottom: none;
    width: 4%;
    margin: 65px auto;
}
.contact{
    width: 40%;
    margin: 40px auto 60px;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #3042cf);
    background-image: -moz-linear-gradient(top, #11cdd4, #3042cf);
    background-image: -ms-linear-gradient(top, #11cdd4, #3042cf);
    background-image: -o-linear-gradient(top, #11cdd4, #3042cf);
    background-image: linear-gradient(to bottom, #11cdd4, #3042cf);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #5db8f0;
    background-image: -webkit-linear-gradient(top, #5db8f0, #275778);
    background-image: -moz-linear-gradient(top, #5db8f0, #275778);
    background-image: -ms-linear-gradient(top, #5db8f0, #275778);
    background-image: -o-linear-gradient(top, #5db8f0, #275778);
    background-image: linear-gradient(to bottom, #5db8f0, #275778);
    text-decoration: none;
  }
.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0 20px;
}
a{
    color: #0b3233;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
    color: #eaf6f6;
}
.copyright{
    color: #0b0c0c;
    font-size: 0.75rem;
    padding: 20px 0;
}